<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
<meta name='description' content='Group Chat app' />
<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

<link rel="stylesheet" type="text/css" href="/css/paint.css"/>
<script type="text/javascript" src="/js/paint.js"></script>
<script type="text/javascript" src="/js/ejs.js"></script>
<script type="text/javascript">

	var room  = location.pathname.substring(7);
	// var socket = io.connect();
	var socket = io.connect('http://localhost:8080/appchallenge');

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		console.log("get Room Details: "+ room);
		socket.emit('getRoomDetails', {"roomID" : room});
	});

	socket.on('disconnect', function() {
	  console.log('disconnected');
	});

	socket.on('error', function(error){
	  console.log("error: "+ error);
	});

</script>
<!-- <script type="text/javascript" src="/js/sock.js"></script> -->
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class=".col-xs-12 .col-md-8">
				<div class="panel panel-primary">
				 	<div class="panel-heading">
				    	<h3 class="panel-title">Canvas</h3>
				  	</div>
				  	<div class="panel-body">
				    	<div class="col-xs-8 col-md-8">
							<canvas id="canvasBlock" width="600" height="400"
								class="canvasStyle"></canvas>
								<button id="clearBtn" class="btn btn-danger pull-right">
									<span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
								</button>
						</div>
						<div class="col-xs-4 col-md-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Color Palette</h3>
								</div>
								<div class="panel-body">
									<div id="colorPalette">
										<span class="colorSpan img-rounded" style="background-color: #cb3594;">Purple</span>
										<span class="colorSpan img-rounded" style="background-color: #659b41;">Green</span>
										<span class="colorSpan img-rounded" style="background-color: #ffcf33;">Yellow</span>
										<span class="colorSpan img-rounded" style="background-color: #986928;">Brown</span>
									</div>
								</div>
							</div>
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Tool Palette</h3>
								</div>
								<div class="panel-body">
									<div id="toolPalette">
										<span class="toolSpan img-circle">Crayon</span>
										<span class="toolSpan img-circle">Marker</span>
										<span class="toolSpan img-rounded">Eraser</span>
									</div>
								</div>
							</div>
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Size</h3>
								</div>
								<div class="panel-body">
									<div id="sizePalette" class="row">
										<span class="sizeSpan btn btn-success btn-xs">small</span>
										<span class="sizeSpan btn btn-success btn-sm">normal</span>
										<span class="sizeSpan btn btn-success">large</span>
										<span class="sizeSpan btn btn-success btn-lg">huge</span>
									</div>
								</div>
							</div>
						</div>
				  	</div>
				</div>
			</div>
			<div class=".col-xs-6 .col-md-4">
				<div class="panel panel-danger">
				 	<div class="panel-heading">
				    	<h3 class="panel-title">People</h3>
				  	</div>
				  	<div class="panel-body">
						<%- roomDetails %>
						<ul>
							<li></li>
						</ul>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
