<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
	var socket = io.connect('http://localhost:8080');

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		console.log(socket.currentUser);
		socket.emit('addUser', prompt("What's your name?"));

		// Get all the available rooms
		socket.emit('getAllRooms');

	});

	socket.on('updateRooms', function(status, data){
		if(status){
			$('#roomsList').empty();
			console.log(data);
			var rooms = JSON.parse(data);
			$.each(rooms, function(key, value){
				$('#roomsList').append('<li><a href="/home/?key='+key+'"">' + value.roomName + '</a><span class="badge">'+value.count+'</span></li>');
			});
		}else{
			$('#statusMsgsList').empty();
			$('#statusMsgsList').append('<li> No rooms available <li>');
		}
	});

	socket.on('statusUpdate', function(msg){
		console.log("status updated");
		$('#statusMsgsList').empty();
		$('#statusMsgsList').append('<li>' + msg + '<li>');
	});

	// listener, whenever the server emits 'updateusers', this updates the username list
	socket.on('updateUsers', function(data) {
		console.log("Updating Users");
		$('#userInfo').empty();
		var user = JSON.parse(data);
		console.log(user);
		$('#userInfo').append('<li>'+ user.username+'</li>')
		$('#userInfo').append('<li>'+ user.userMailID+'</li>')
		$('#userInfo').append('<li>'+ user.available+'</li>')
	});

	socket.on('addRoomSuccess', function(data){
		console.log("Room created");
		$('#roomsList').empty();

		$.each(data, function(key, value){
			$('#roomsList').append('<li><a href="/home/?key='+key+'"">' + value + '</a></li>');
		});

	});

	$(document).ready(function(){
		$('#addRoom').click(function(){
			socket.emit('addRoom', prompt("Enter the room name:"));
		});
	});

</script>
<body>
	<div class="container">
		<div class="row"></div>
			<div class="panel panel-primary col-md-5">
				<div class="panel-heading">
					User
				</div>
				<div class="panel-body">
					<ul id="userInfo">

					</ul>
				</div>	
			</div>
			<div class="panel panel-primary col-md-5">
				<div class="panel-heading">
					Rooms
				</div>
				<div class="panel-body">
					<ul id="roomsList">
						
					</ul>
					<div>
						<button class="btn btn-success" type="button" id="addRoom">
			        		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			        	</button>
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Messages
				</div>
				<div class="panel-body">
					<ul id="statusMsgsList">
						
					</ul>
				</div>	
		</div>
	</div>
</body>
</html>
