<html>
<head>
<title>Home</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

<link rel="stylesheet" type="text/css" href="/css/paint.css"/>

<script type="text/javascript">
	
var socket = io.connect('http://localhost:8080');

socket.on('connect', function() {
  console.log('user connected');
  var name = prompt("What's your name?");
  console.log('Name:'+ name);
  socket.emit('adduser', 'mani');
  console.log('passed');
});

socket.on('disconnect', function() {
  console.log('disconnected');
});

// $('form').submit(function(){
//     var msg = $('#m').val();
//     var name = prompt("What's your name?");
//     socket.emit('chat message', name);
//     $('#m').val('');
//     return false;
// });

socket.on('error', function(error){
  console.log("error: "+ error);
});

// socket.on('chat message', function(msg){
//   $('#messages').append($('<li>').text(msg));
// });


</script>
<!-- <script type="text/javascript" src="/js/sock.js"></script> -->
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="row panel panel-primary">
				 	<div class="panel-heading">
				    	<h3 class="panel-title">Canvas</h3>
				  	</div>
				  	<div class="panel-body">
				    	<form>
				    		
				    	</form>
				  	</div>
				</div>
				
			</div>
			<div class="col-md-9">
				<div class="row panel panel-info">
					<div class="panel-heading">
				    	<h3 class="panel-title">Color Palette</h3>
				  	</div>
				  	<div class="panel-body">
				    	<div id="colorPalette">
							<span class="colorSpan" style="background-color: #cb3594;">Purple</span>
							<span class="colorSpan" style="background-color: #659b41;">Green</span>
							<span class="colorSpan" style="background-color: #ffcf33;">Yellow</span>
							<span class="colorSpan" style="background-color: #986928;">Brown</span>
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
