<div class="col-sm-12" id="featured">
    <div class="page-header text-muted">
        Dashboard
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <h3>Temperature Sensor</h3>
        <h4>
            <span class="label label-default">Temp. sensor</span>
            <small class="text-muted">
                1 hour ago
                <a href="#" class="text-muted">
                    <span class="glyphicon glyphicon glyphicon-refresh"></span>
                </a>
            </small>
        </h4>
        <div class="table-bordered padding">
            <table id="tempDetails" class="table table-hover">

            </table>
        </div>
        <div>
            <a href="#history" class="pull-right"><h4>Past data...</h4></a>
        </div>
    </div>
    <div class="col-sm-2">
        <img src="images/temp.jpeg" class="img-circle"/>
    </div>
</div>
<div class="col-sm-12">
    <div class="page-header text-muted divider">
        Other Devices
    </div>
</div>

<div class="row">
    <div class="col-sm-4 text-center">
        <h4>Soil Moisture sensor</h4>
        <a href="#"><img src="images/soil.jpg" class="img-respsonsive img-circle"></a>
    </div>
    <div class="col-sm-4 text-center">
        <h4>Device 2</h4>
        <a href="#"><img src="" class="img-respsonsive img-circle"></a>
    </div>
</div>

