<div class="col-sm-12" id="featured">
    <div class="page-header text-muted">
        History
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <h3>Temperature Sensor</h3>
        <h4>
            <span class="label label-default">Temp. sensor</span>
            <small class="text-muted">
                1 hour ago
                <a href="#" class="text-muted">
                    <span class="glyphicon glyphicon glyphicon-refresh"></span>
                </a>
            </small>
        </h4>
        <div class="table-bordered padding">
            <h2>
                Display graph here
            </h2>
        </div>
    </div>
    <div class="col-sm-2">
        <img src="images/temp.jpeg" class="img-circle"/>
    </div>
</div>
<div class="col-sm-12">
    <div class="page-header text-muted divider">
        Other Devices
    </div>
</div>

<div class="row">
    <div class="col-sm-4 text-center">
        <h4>Soil Moisture sensor</h4>
        <a href="#"><img src="../static/images/soil.jpg" class="img-respsonsive img-circle"></a>
    </div>
    <div class="col-sm-4 text-center">
        <h4>Device 2</h4>
        <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
    </div>
</div>

