<!DOCTYPE html>
<html lang="en" ng-app="aqua">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" />
    <!--<script src="https://www.google.com/recaptcha/api.js"></script>-->
</head>
<body>
<div class="wrapper">
    <div class="box">
        <div class="row">
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
                <a class="logo" href="#">Aquaponic</a>
                <ul class="nav">
                    <li class="active">
                        <a href="#dashboard"><h4>Dashboard</h4></a>
                    </li>
                    <li>
                        <a href="#rules"><h4>Rules</h4></a>
                    </li>
                    <li>
                        <a href="#login">login</a>
                    </li>
                </ul>
                <ul class="nav hidden-xs" id="sidebar-footer">
                    <li>
                        <a href=""><h3>Aquaponic</h3>Made with Bootstrap</a>
                    </li>
                </ul>
            </div>
            <!-- /sidebar -->
            <div class="column col-sm-9" id="main">
                <div class="padding">
                    <div class="full col-sm-9">
                        <div ng-view="">

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="page-header text-muted divider">
                            Connect with Us
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            Send feedback to
                            <a href="mailto:venky@utdallas.edu?subject=Feedback&cc=subbramanil@gmail.com,sxa146230@utdallas.edu,tss140030@utdallas.edu"
                                    class="label label-info">
                               <!--<span class="glyphicon glyphicon-send" aria-hidden="true" title="Send feedback to team"></span>-->
                                the team
                            </a>
                        </div>
                    </div>

                    <hr/>

                    <div class="row" id="footer">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <p>
                                <a href="#" class="pull-right">©Copyright Inc.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/objects.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="js/aquascript.js"></script>
</body>
</html>