<div class="row">
    <div class="col-sm-12" id="featured">
        <div class="page-header text-muted">
            Rules
        </div>
        <div>
            <table id="rulesDetails" class="table table-hover">
            </table>
        </div>
        <div class="form-horizontal">
            <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="clear()" data-target=".add-rule-modal-lg">Add Rule</button>
            <!--<button type="button" class="btn btn-success" data-toggle="modal" data-target=".delete-rule-confirm-modal-lg">Delete Rules</button>-->
            <button type="button" class="btn btn-success" ng-click="saveChanges()">Save changes</button>
        </div>

        <!--<div class="well well-sm">-->
            <!--Current Rule: {{selectedRule}}-->
        <!--</div>-->

        <div class="modal fade add-rule-modal-lg" role="dialog" aria-labelledby="addRuleModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add new rule</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h4>Conditions</h4>
                                    <div class="well well-lg clearfix">
                                        <div class="col-sm-4">
                                            <label class="control-label">
                                                Parameter
                                            </label>
                                            <select class="form-control" ng-model="currentRule.param"
                                                    ng-options="param.name for param in paramOptions"></select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">
                                                Operator
                                            </label>
                                            <select class="form-control" ng-model="currentRule.opr"
                                                    ng-options="opr.name for opr in operatorOptions"></select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">
                                                Value
                                            </label>
                                            <input type="number" class="form-control" ng-model="currentRule.value"/>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h4>Actions</h4>
                                    <div class="well well-lg clearfix">
                                        <div class="col-sm-6">
                                            <label class="control-label">
                                                Take Action
                                            </label>
                                            <select class="form-control" ng-model="currentRule.action"
                                                    ng-options="action.name for action in actionOptions"></select>
                                        </div>
                                        <div class="col-sm-6" ng-show="currentRule.action.value == 1">
                                            <label class="control-label">
                                                Email
                                            </label>
                                            <input type="email" class="form-control" ng-model="currentRule.emailID"/>
                                        </div>
                                        <div class="col-sm-6" ng-show="currentRule.action.value == 2">
                                            <label class="control-label">
                                                Phone number
                                            </label>
                                            <input type="tel" class="form-control" ng-model="currentRule.phoneNumber"/>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h4>Rule</h4>
                                    <div class="well well-lg clearfix">
                                        <h3 class="label label-primary" ng-show="currentRule.param.name">If</h3>
                                        <h2 class="label label-warning">{{currentRule.param.name}}</h2>
                                        <h2 class="label label-info">{{currentRule.opr.name}}</h2>
                                        <h2 class="label label-danger">{{currentRule.value}}</h2>
                                        <h3 class="label label-primary" ng-show="currentRule.value">then</h3>
                                        <h2 class="label label-success">{{currentRule.action.name}}</h2>
                                        <h3 class="label label-primary" ng-show="currentRule.action.name">to</h3>
                                        <h2 class="label label-success" ng-show="currentRule.action.value == 1">{{currentRule.emailID}}</h2>
                                        <h2 class="label label-success" ng-show="currentRule.action.value == 2">{{currentRule.phoneNumber}}</h2>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addRule()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade edit-rule-modal-lg" role="dialog" aria-labelledby="editRuleModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editModalLabel">Edit rule</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h4>Conditions</h4>
                                    <div class="well well-lg clearfix">
                                        <div class="col-sm-4">
                                            <label class="control-label">
                                                Parameter
                                            </label>
                                            <select class="form-control" ng-model="selectedRule.param"
                                                    ng-options="param.name for param in paramOptions"></select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">
                                                Operator
                                            </label>
                                            <select class="form-control" ng-model="selectedRule.opr"
                                                    ng-options="opr.name for opr in operatorOptions"></select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">
                                                Value
                                            </label>
                                            <input type="number" class="form-control" ng-model="selectedRule.value"/>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h4>Actions</h4>
                                    <div class="well well-lg clearfix">
                                        <div class="col-sm-6">
                                            <label class="control-label">
                                                Take Action
                                            </label>
                                            <select class="form-control" ng-model="selectedRule.action"
                                                    ng-options="action.name for action in actionOptions"></select>
                                        </div>
                                        <div class="col-sm-6" ng-show="selectedRule.action.value == 1">
                                            <label class="control-label">
                                                Email
                                            </label>
                                            <input type="email" class="form-control" ng-model="selectedRule.emailID"/>
                                        </div>
                                        <div class="col-sm-6" ng-show="selectedRule.action.value == 2">
                                            <label class="control-label">
                                                Phone number
                                            </label>
                                            <input type="tel" class="form-control" ng-model="selectedRule.phoneNumber"/>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h4>Rule</h4>
                                    <div class="well well-lg clearfix">
                                        <h3 class="label label-primary" ng-show="selectedRule.param.name">If</h3>
                                        <h2 class="label label-warning">{{selectedRule.param.name}}</h2>
                                        <h2 class="label label-info">{{selectedRule.opr.name}}</h2>
                                        <h2 class="label label-danger">{{selectedRule.value}}</h2>
                                        <h3 class="label label-primary" ng-show="selectedRule.value">then</h3>
                                        <h2 class="label label-success">{{selectedRule.action.name}}</h2>
                                        <h3 class="label label-primary" ng-show="selectedRule.action.name">to</h3>
                                        <h2 class="label label-success" ng-show="selectedRule.action.value == 1">{{selectedRule.emailID}}</h2>
                                        <h2 class="label label-success" ng-show="selectedRule.action.value == 2">{{selectedRule.phoneNumber}}</h2>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveEditChanges()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade delete-rule-confirm-modal-lg" role="dialog" aria-labelledby="deleteRuleModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteModalLabel">Delete Rules</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <h4> Do you want to delete the selected rule?</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    If {{selectedRule.param}} {{selectedRule.opr}} {{selectedRule.value}}
                                    then {{selectedRule.action}} to {{selectedRule.emailID}} {{selectedRule.phoneNumber}}
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteRule()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>