<!DOCTYPE html>
<html ng-app="portApp">
<head>
	<title>index</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
	<body>
		<div class="container-fluid well">

			<div ng-controller="SkillsController">
				<div class="col-md-6 col-lg-6 col-sm-12">
					<canvas id="sample" width="200" height="200" class="" style="border:1px solid #FFF">
								
					</canvas>
				</div>
			</div>

		</div>
		
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular-route.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>